<h1>Welcome to code&#x2713;</h1>
<h3>The poor mans code climate</h3>

<br/>
<br/>
<h2>What does it do?</h2>
<hr/>
<p>It attempts to run code checking tools against source code</p>
<p>think rubocop, brakeman, jshint, and plato.</p>
<ul>
<%params.raw.to_h.each do |foo|%>
  <li><%= foo[0] %>:    <%= foo[1] %></li>
<% end %>
</ul>